@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body, html {
       height: 100%;
       width: 100%;
       margin: 0 ;
       padding: 0 ;
       justify-content: center;
       
     }
     
     #map {
       
       
       height: 100%;
       width: 100%;
     }
     
     .lat {
      width: 30%;
      height: 4%;
      position: fixed;
      bottom: 5rem;
      right: 1rem;
      font-size: larger;
      text-align: center;
      font-weight: bold;
      font-family:'Roboto',sans-serif;
      color: rgba(20, 20, 155, 0.904);
      border-radius: 1rem;
      border-style: solid;
      border-color: rgba(22, 22, 170, 0.781);
      z-index: 9999;
      box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
      transition: all 0.4s;
      transition-duration: 0.3s;
      transition-property: box-shadow, transform;
     }
     .lat:hover{
      transform: scale(1.4);
      right: 5.5rem;
      box-shadow: 0 0 2rem rgba(11, 0, 109, 0.4);
      transition: all 0.4s;
     }
      
     .lng{
      width: 30%;
      height: 4%;
      position: fixed;
      bottom: 2rem;
      right: 1rem;
      font-size: large;
      font-weight: bold;
      text-align: center;
      font-family:'Roboto',sans-serif;
      color: rgba(20, 20, 155, 0.904);
      border-radius: 1rem;
      border-style: solid;
      border-color: rgba(22, 22, 170, 0.781);
      z-index: 9999;
      box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
      transition: all 0.4s;
      transition-duration: 0.3s;
      transition-property: box-shadow, transform;
     }
     .lng:hover {
      transform: scale(1.4);

      right: 5.5rem;
      box-shadow: 0 0 2rem rgba(11, 0, 109, 0.4);
      transition: all 0.4s;
     }
     #submit{
      position: fixed;
      right: 2rem;
      bottom: 25%;
      width: 5rem;
      height: 4rem;
      font-family: "tajawal", serif;
      font-size: 1rem;
      border-radius: 5rem;
      border-style: none;
      background-color: rgb(22, 22, 170);
      color: azure;
      z-index: 9999;
      padding: 0rem;
      text-align: center;
      transition: all 0.5s;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
     }
     #submit:hover, #submit:focus  {
      box-shadow: 0 0 2rem rgba(11, 0, 109, 0.4);
      background: #6363ff;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 0.6s;
      
    }
    #hover-text {
      right: 1rem;
      bottom: 14rem;
      position: fixed;
      background-color: rgb(0, 0, 44);
      font-size:medium;
      font-family:"tajawal", serif;
      padding: 0.5rem;
      color: #fff;
      border-radius: 0.5rem;
      visibility:hidden ;
      z-index: 9999;
    }
    .mapContainer{
      margin: auto;
      right:1rem ;
      top:2rem;
      z-index: 9999;
      position: relative;
    }

    #dataContainer {
      position: fixed;
      width: 100%;
      height: 39rem;
      top: -37rem;
      background-color: #0c145c;
      overflow-y: hidden;
      z-index: 9999;
      touch-action: pan-y;
      user-select: text;
      border-radius: 2%;
      cursor: grab;
      transition: transform 1s ease-in-out;
     
    }
    
    #dataContainer.moving {
      transform: translateY(37rem);
      transition: all 1s;
    }
    .parentContainer {
      position: relative;
      width: 100%;
      height: 37rem;
      bottom: 4rem;
      background-color: #211d58;
      overflow-y: auto;
      z-index: 9999;
      cursor: pointer;
    }
    
    .pathRow {
      position: absolute;
       display: table;
       right: 0rem ;
       bottom: 2rem ;
       width:100% ;
       height:6%;
       background: transparent;
       background-color: rgb(6, 6, 66);
       padding: 2px 0;
       color: #fff;
       font-weight:bold;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 141, 0.5);
       z-index: 9999;
       border-radius: 2px;
    }
    .pathCell{
      position: relative;
       display: table-cell;
       width: 40%;
       font-size: large;
       font-family: "Tajawal", sans-serif ;
       text-align: center;
       z-index: 9999;
       border-left: 1px solid #c1c0e4ea;
       border-right: 1px solid #c1c0e4ea;
       vertical-align: middle;
    }
    
    .dataRow {
      position: absolute;
       display: table;
       right: 0rem ;
       top: 1rem ;
       width:100% ;
       font-family: "Lateef", serif ;
       background: transparent;
       background-color: #030b53;
       padding: 2px 0;
       margin: auto;
       color: #fdfdff;
       box-shadow: 0 2px 4px 0 rgba(111, 111, 247, 0.5);
       z-index: 9999;
       border-radius: 2px;
    }
    .dataRow:hover , .dataRow:focus{
      .inputLat{
        background-color: #fff;
        color: #030b53;
        font-family: "tajawal",serif;
        border-left: 1px solid #4545df91;
       border-right: 1px solid #4545df91;
       font-size: 20px;
       font-weight: bold;
       padding-top: +3px;
      }
      .inputLng{
        background-color: #fff;
        color: #030b53;
        font-family: "tajawal",serif;
        border-left: 1px solid #4545df91;
        border-right: 1px solid #4545df91;
        font-size: 20px;
        font-weight: bold;
        padding-top: +3px;
      }
    }

    .inputLat {
      position: relative;
       display: table-cell;
       width: 50%;
       text-align: center;
       z-index: 9999;
       margin: 2px;
       padding: 2px;
       font-size: medium;
       background-color: #030b53;
       border-left: 1px solid #f6f6ff91;
       border-right: 1px solid #f6f6ff91;
       vertical-align: middle;
       border-radius: 2px;
       box-shadow: 0 2px 4px 0 rgba(199, 199, 255, 0.5);
      
    }
    
    .inputLng {
      position: relative;
      display: table-cell;
      width: 50%;
      text-align: center;
      background-color: #030b53;
      z-index: 9999;
      margin: 2px;
      padding: 2px;
      font-size: medium;
      
      border-left: 1px solid #f6f6ff91;
      border-right: 1px solid #f6f6ff91;
      vertical-align: middle;
      border-radius: 2px;
       box-shadow: 0 2px 4px 0 rgba(199, 199, 255, 0.5);
    }
    
    #back{
      position: absolute;
      right: 26rem;
      bottom: 2.5rem;
      width: 4rem;
      height: 4rem;
      font-family: "tajawal", serif;
      font-size: 13px;
      font-weight: bold;
      border-radius: 5rem;
      border-style: none;
      background-color: rgb(255, 255, 255);
      color: rgb(27, 41, 233);
      z-index: 9999;
      padding: 0rem;
      text-align: center;
      transition: all 0.3s;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid blue;
      box-shadow: 0 0 8rem rgba(26, 9, 177, 0.4);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
    }
    #back:hover ,#back:focus {
     
        box-shadow: 0 0 2rem rgba(21, 3, 175, 0.4);
        background: #6494e0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.3s;
        color: #fff;
        border: 1px solid #fff;
    }
    #hover-back {
      right: 30rem;
      bottom: 3.4rem;
      position: fixed;
      background-color: rgb(0, 0, 44);
      font-size:medium;
      font-family:"tajawal", serif;
      padding: 0.5rem;
      color: #fff;
      border-radius: 0.5rem;
      visibility:hidden ;
      z-index: 9999;
    }
   
    #down {
      background-color: rgb(7, 6, 90);
      border:1px solid #ffffff;
      padding: 1px;
      border-radius: 50%;
      cursor: pointer;
      position:absolute;
      bottom: 0.2rem;
      right: 3rem;
      color: #ffffff;
      width: 1.3rem;
      height: 1.3rem;
    }
    #down i {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-size: 12px;
      color: rgb(255, 255, 255);
    }
    #up {
      background-color: rgb(7, 6, 90);
      border:1px solid #ffffff;
      padding: 1px;
      border-radius: 50%;
      cursor: pointer;
      position:absolute;
      bottom: 0.2rem;
      right: 5rem;
      color: #ffffff;
      width: 1.3rem;
      height: 1.3rem;
    }
    #up i {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-size: 12px;
      color: rgb(255, 255, 255);
    }
    @media (max-width: 1080px) {
      #submit{
        position: fixed;
        right: 3%;
        bottom: 25%;
        width: 14%;
        height: 6%;
        font-family: "tajawal", serif;
        font-size: 2rem;
        border-radius: 5rem;
        border-style: none;
        background-color: rgb(22, 22, 170);
        color: azure;
        z-index: 9999;
        padding: 0rem;
        text-align: center;
        transition: all 0.5s;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
       }
       #hover-text {
        right: 3%;
        bottom: 30%;
        position: fixed;
        background-color: rgb(0, 0, 44);
        font-size:medium;
        font-family:"tajawal", serif;
        padding: 0.5rem;
        color: #fff;
        border-radius: 0.5rem;
        visibility:hidden ;
        z-index: 9999;
      }
       .lat {
        width: 50%;
        height: 5%;
        position: fixed;
        bottom: 15%;
        right: 1rem;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        font-family:'Roboto',sans-serif;
        color: rgba(20, 20, 155, 0.904);
        border-radius: 1rem;
        border-style: solid;
        border-color: rgba(22, 22, 170, 0.781);
        z-index: 9999;
        box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
        transition: all 0.4s;
        transition-duration: 0.3s;
        transition-property: box-shadow, transform;
       }
       .lat:hover{
        transform: scale(1.3);
        right: 6.5rem;
        box-shadow: 0 0 2rem rgba(11, 0, 109, 0.4);
        transition: all 0.4s;
       }
       .lng {
        width: 50%;
        height: 5%;
        position: fixed;
        bottom: 8%;
        right: 1rem;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        font-family:'Roboto',sans-serif;
        color: rgba(20, 20, 155, 0.904);
        border-radius: 1rem;
        border-style: solid;
        border-color: rgba(22, 22, 170, 0.781);
        z-index: 9999;
        box-shadow: 0 0 10rem rgba(11, 0, 109, 0.4);
        transition: all 0.4s;
        transition-duration: 0.3s;
        transition-property: box-shadow, transform;
       }
       .lng:hover{
        transform: scale(1.3);
        right: 6.5rem;
        box-shadow: 0 0 2rem rgba(11, 0, 109, 0.4);
        transition: all 0.4s;
       }
       #back{
        position: absolute;
      right: 3%;
      bottom: 2%;
      width: 9%;
      height: 4%;
      font-family: "tajawal", serif;
      font-size: large;
      font-weight: bold;
      border-radius: 5rem;
      border-style: none;
      background-color: rgb(255, 255, 255);
      color: rgb(27, 41, 233);
      z-index: 9999;
      padding: 0rem;
      text-align: center;
      transition: all 0.3s;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid blue;
      box-shadow: 0 0 8rem rgba(26, 9, 177, 0.4);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
       }
       #hover-back {
        right: 13%;
        bottom: 3%;
        position: fixed;
        background-color: rgb(0, 0, 44);
        font-size:medium;
        font-family:"tajawal", serif;
        padding: 0.5rem;
        color: #fff;
        border-radius: 0.5rem;
        visibility:hidden ;
        z-index: 9999;
      }
    }